{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block body %}
<main>
    <h1>Various APIs</h1>
    <div class= "apitext">
    <a href="{{ path('quote') }}">Quote</a><p>Denna routen leder till en JSON som visar ett slumpmässigt 
    citat.</p>
    <a href="{{ path('api_deck') }}">Deck</a><p>Denna routen leder till en JSON som visar en kortlek sorterad efter färg och valör.
    Börja med den här innan du testar de andra funktionerna, då denna initierar sessionen, såvida en inte redan finns,
    då den kommer visa den istället.</p>


    
    <form method="post" action="">
        <input type="submit" name="Blanda API" value="Blanda API"
        onClick="this.form.action='{{ path('api_shuffle') }}';">
        <p>Den här routen är en POST som blandar kortleken. En JSON returneras som är den blandade kortleken.</p>
        <input type="submit" name="drawone_api" value="Ta upp ett kort API"
        onClick="this.form.action='{{ path('card_drawapi') }}';">
        <p>Den här routen är en POST som tar upp det översta kortet ur leken. En JSON returneras som motsvarar det kortet som har tagits upp.</p>
        <input type="submit" name="drawseveral_api" value="Ta upp fem kort API"
        onClick="this.form.action='{{ path('card_drawseveralapi', {num: 5 }) }}';">
        <p>Den här routen är en POST som tar upp fem kort ur leken. En JSON returneras som motsvarar de korten som har tagits upp.
        Det går även att ta upp ett eget antal kort.</p>
    </form>
    </div>
</main>
{% endblock %}