{% extends "base.html.twig" %}

{% block title %}Hela leken{% endblock %}
{% block body %}
<div class="card-container">
    {% for card, attributes in deckView %}
        {% if attributes["Color: "] == "Red" %}
            <div class="card" style="color:red">{{ card }}</div>
        {% else %}
            <div class="card">{{ card }}</div>
        {% endif %}
    {% endfor %}
</div>

<div class="options">
    <li><a href="{{ path('card_shuffle') }}">Blanda</a></li>
    <li><a href="{{ path('card_draw_num', {num: 1 }) }}">Ta upp det översta kortet i leken </a></li>
    <li><a href="{{ path('card_draw_num', {num: 5 }) }}">Ta upp de fem översta korten i leken </a></li>
</div>
{% endblock %}