{% extends "base.html.twig" %}

    {% block title %}Session Data{% endblock %}
    {% block body %}
    {% if sessionData is not empty %}
        <table border="1">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in sessionData %}
        <tr>
            <td>{{ key }}</td>
            <td>
                 {% if value is iterable %}
                                {% for card in value %}
                                    {% if card.graphic is defined %}
                                        {% if card.color == "Red" %}
                                            <span class="card" style="color:red">{{ card.graphic }}</span>
                                        {% else %}
                                        <span class="card">{{ card.graphic }}</span>
                                        {% endif %}
                                    {% else %}
                                        <pre>{{ card|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ value }}
                            {% endif %}
            </td>
        </tr>
{% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No session data available.</p>
    {% endif %}
    {% endblock %}